.film-btn{
  position: absolute !important;
  right: 9px;
  bottom: -14px;
}

.link-actions{
  position: absolute;
  top: 31px;
  right: 18px;
}

.link-top{
  font-size: 1.4em;
  color: white;
  margin-left: .5em;
}
.star{
  color: #ffeb3b;
}