<div ng-if="!details">
  Cargando resultados
</div>

<div class="card" ng-if="details.Response==='True'">
  <div class="card-image">
    <img ng-src="{{ details.Poster=='N/A' ? 'http://placehold.it/150x220&text=N/A' : details.Poster }}" class="responsive-img">
    <span class="card-title">
      <a href="http://imdb.com/title/{{ details.imdbID }}" target="_blank">{{ details.Title }}</a>, <span>{{ details.Year }}</span>
    </span>
    <div class="film-btn">
      <a href="#" class="film-btn btn-floating btn-large waves-effect waves-light orange darken-3">
        <i class="material-icons">add</i>
      </a>
    </div>
    <div class="link-actions">
      <a href="#"class="link-top star" href="#"> 
        <i class="fa fa-star"></i>
      </a>
      <a href="#" class="link-top" href="#"> 
        <i class="fa fa-heart"></i>
      </a>
      <a href="http://imdb.com/title/{{ details.imdbID }}" target="_blank" class="link-top" href="#"> 
        <i class="fa fa-share"></i>
      </a>
    </div>
  </div>
  <div class="card-content">
    <p><strong>Lanzado en:</strong> {{ details.Released }} ({{ details.Runtime }})</p>

    <p>{{ details.Plot }}</p>

    <p class="">
      <div class="">
        <span class="label label-primary">Directores :</span> {{ details.Director }}
      </div>
      <div class="">
        <span class="label label-primary">Actores :</span> {{ details.Actors }}
      </div>
      <div class="">
        <span class="label label-primary">Genero :</span> {{ details.Genre }}
      </div>
    </p>

    <p class=""><strong>Calificaciones:</strong><br>
      <strong>IMDb</strong>: <span class="label label-success">{{ details.imdbRating }}</span><br>
    </p>

    <div id="related-results" ng-include="'partials/related.html'" class=""></div>
  </div>
  <div class="card-action">
      <a ng-href="https://www.youtube.com/results?search_query={{ details.Title }}" target="_blank" class="btn">Ver Trailers</a>
      <a ng-href="http://subscene.com/subtitles/title?q={{ details.Title }}" target="_blank" class="btn">Obtener Subtitulos</a>
      <a ng-href="http://www.theost.com/search/custom/?key={{ details.Title }}" target="_blank" class="btn">Escuchar Soudtracks</a>
      <a ng-href="http://www.amazon.in/s/ref=nb_sb_noss_1?url=search-alias%3Ddvd&field-keywords={{ details.Title }}" target="_blank" class="btn btn-default btn-xs btn-info">Comprar la película</a>
    </p>
  </div>
</div>

<div ng-if="details.Response==='False'">
  Pelicula no encontrada. :(
</div>