<!DOCTYPE html>
<html lang="en" ng-app="kunder" ng-controller="MovieController">
  <head>
    <title ng-bind="'Fastr - ' + details.Title"></title>
    <link rel="stylesheet" href="css/style.css">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.5/css/materialize.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta charset="utf-8">
  </head>

  <body>
    <nav class="orange darken-4" role="navigation">
        <div class="nav-wrapper container">
          <a id="logo-container" class="brand-logo" href="#">
            Kunder Films
          </a>
        </div>
    </nav>
    <input id="search" ng-model="search"  ng-model-options="{ debounce: 800 }" placeholder="Ingrese el nombre de una pelicula" autofocus >
    <div id="main-info" ng-include="'partials/info.html'" class="col-md-8"></div>

    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.5/js/materialize.min.js"></script>
    <script src="js/app.js"></script>
  </body>
</html>